.intro {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 140px;
  margin-bottom: 80px;

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    max-width: 500px;
    line-height: 1.8;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
}
