$color-primary: #1e375a;
$color-accent: #2364d2;

//$text-color-primary: ;
//$text-color-secondary: ;

$screen-xs-down: 575px;
$screen-sm-down: 767px;
$screen-md-down: 991px;
$screen-lg-down: 1199px;
