.container {
  max-width: 780px;
  margin: 0 auto 10px auto;
}

.breadCrumbs {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.18px;
  margin-top: 23.5px;
  color: #6b6d85;
}

.section {
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  filter: drop-shadow(0px 0px 1px rgba(40, 41, 61, 0.08))
    drop-shadow(0px 0.5px 2px rgba(96, 97, 112, 0.16));
  padding: 29px 42px;
  margin-top: 10px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 20px 0;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 680px) {
  .mainContent {
    flex-direction: column;
  }
}

.logo {
  margin-right: 14px;
}

.titleSection {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.title {
  margin: 0 10px 0 0;
  font-size: 24px;
  font-weight: 700;
}

.author {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #9293ab;
}

.links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #0278d5;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration-line: underline;
  column-gap: 32px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

@media (max-width: 680px) {
  .links {
    margin: 0;
  }
}

.line {
  background: #d9dae6;
  opacity: 0.6;
  border: 0;
  height: 1px;
}

.description {
  margin: 18px 0 0 0;
  font-size: 13px;
  font-weight: 500;
  color: #6b6d85;
}

.exampleToggleContainer {
  display: flex;
  justify-content: center;
}

.exampleToggle {
  background: #22222A;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  border: 1px solid #B0B1C4;
}

.exampleToggleButtonActive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  background: #ffffff;
  border-radius: 100px;
  border: 0px;
  padding: 4px 16px;
  font-size: 10px;
  font-weight: 600;
}

.exampleToggleButtonInactive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  background: #22222A;
  color: #ffffff;
  border-radius: 100px;
  border: 0px;
  padding: 4px 16px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.propertyList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.propertyListItem {
  background: #fafbfc;
  opacity: 0.7;
  border-radius: 6px;
  padding: 22px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.propertyTags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.propertyTitle {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 13px;
  margin: 0 8px 0 0;
}

.propertyType {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #9293ab;
  margin: 0 8px 0 0;
}

.propertyRequired {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #cf2318;
  background-color: #fcedec;
  border-radius: 4px;
  padding: 2px 7px;
}

.propertyOptional {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #0278d5;
  background-color: #effbff;
  border-radius: 4px;
  padding: 2px 7px;
}

.propertyDescription {
  font-size: 12px;
  font-weight: 400;
  color: #22222a;
  margin: 12px 0 0 0;
}

.propertySecret {
  font-size: 10px;
  font-weight: 600;
  color: #0278d5;
  letter-spacing: 0.4px;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 8px 0 0 0;
}

.propertyDefault {
  font-size: 12px;
  font-weight: 400;
  color: #6B6D85;
  margin: 12px 0 0 0;
}
